/* Cabecalho.css */

/* Sombra texto */
.sombra {
  text-shadow: rgb(107, 148, 224) 2px 2px 5px;
}

hr {
  height: 4px;
  border: none;
  background-color: rgb(221, 78, 221);
  margin: auto;
}

.destaque-texto {
  color: #fce3ed;
  text-transform: uppercase;
  background-color: #d94f95;
}