/* Folhas de Estilos GLobal
Será usado por elementoas em todos os componentes 
da aplicação React */

/* :: After = Espaço  após o conteudo
    ::before = Espaço antes do conteúdo */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sombra {
  cursor: pointer;
  box-shadow: rgb(135, 219, 135) 0 0 10px;
  border-radius: 15px;
  background-color: rgb(130, 212, 181);
  text-shadow: rgb(73, 73, 73) 0 0 10px;
}

main {
  flex: 1;
}

.destaque-texto {
  background-color: #4665e2;
  padding: 4px;
  margin: auto;
}

.centralizar {
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
