/* Folhas de Estilos GLobal
Será usado por elementoas em todos os componentes 
da aplicação React */

/* :: After = Espaço  após o conteudo
    ::before = Espaço antes do conteúdo */
*, *::after, *::before{
  box-sizing: border-box;
}

/* Reset */
body, h1, h2, h3, p{
  margin: 0;
  padding: 0;
}




html { font-size: 18px;}



