/* Folhas de Estilos GLobal
Será usado por elementoas em todos os componentes 
da aplicação React */

/* :: After = Espaço  após o conteudo
    ::before = Espaço antes do conteúdo */
*, *::after, *::before{
  box-sizing: border-box;
}

/* Reset */
body, h1, h2, h3, p{
  margin: 0;
  padding: 0;
}




html { font-size: 18px;}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sombra:hover{
  cursor: pointer;
  color: rgb(93, 209, 224);
  text-shadow: rgb(73, 73, 73) 0 0 10px;
}



